header {
    color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 90%;
    padding: 20px 0;
    margin: auto;
}

.header_logo {
    margin-left: 20px;
}

.burger {
    display: flex;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
}

ul {
    display: none;
}


@media screen and (min-width: 780px) {
    ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-right: 40px;
        list-style: none;
    }

    .burger {
        display: none;
    }

}